.product-page {
  padding: 1rem;
}

.product-page .title {
  color: var(--color-white);
  font-size: clamp(2rem, 10vw, 5rem);
}

.product-page .links,
.product-page .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.skeleton-shimmer.product-page__link-loader {
  width: 12rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.skeleton-shimmer.product-page__action-loader {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}
