VITE_REDIRECT_IF_ROUTE_NOT_EXISTS=false
VITE_APP_NAME=container
VITE_REMOTE_HOME_URL=http://localhost:3010/remoteEntry.js
VITE_REMOTE_ABOUT_URL=http://localhost:3020/remoteEntry.js
VITE_REMOTE_USERS_URL=http://localhost:3030/remoteEntry.js
VITE_REMOTE_NOTFOUND_URL=http://localhost:3040/remoteEntry.js
VITE_REMOTE_PRODUCT_URL=http://localhost:3050/remoteEntry.js
VITE_REMOTE_CONTEXT_URL=http://localhost:3060/remoteEntry.js
VITE_API_URL=https://jsonplaceholder.typicode.com

WATCHPACK_POLLING=true