VITE_REMOTE_HOME_URL=/mfe/home/remoteEntry.js
VITE_REMOTE_ABOUT_URL=/mfe/about/remoteEntry.js
VITE_REMOTE_USERS_URL=/mfe/users/remoteEntry.js
VITE_REMOTE_NOT_FOUND_URL=/mfe/not-found/remoteEntry.js
VITE_REMOTE_PRODUCT_URL=/mfe/product/remoteEntry.js
VITE_REMOTE_CONTEXT_URL=/mfe/context/remoteEntry.js
VITE_REMOTE_SHARED_URL=/mfe/shared/remoteEntry.js
