<main class="about-page">
  <h1 class="title">About Page</h1>

  <nav aria-label="Page navigation">
    <ul class="links">
      <li>
        <app-shared-mfe
          [loader]="loadLink"
          [componentProps]="productLinkProps"
          [loadingClass]="'about-page__link-loader'"
        />
      </li>
      <li>
        <app-shared-mfe
          [loader]="loadLink"
          [componentProps]="contextLinkProps"
          [loadingClass]="'about-page__link-loader'"
        />
      </li>
    </ul>
  </nav>
</main>
